@import url('https://fonts.googleapis.com/css?family=Poppins: 200, 300, 400, 500, 600, 700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins", sans-serif;
}

body{
    background-image: linear-gradient(#636162, #b1afaf);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c53af;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

.contenedor1{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: rgb(255, 255, 255);
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

.contenedor1 .contenedor1_2{
    position: relative;
    background: rgb(0, 255, 21);
    padding: 40px;
}

.texto{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.texto .imagen{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.texto .imagen img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.p1{
	padding: 9px 10px;
	font-size: 18px;
}

.texto h2{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.texto h2 span{
font-size: 0.8em ;
font-weight: 300;
}

.contacto_info{
    padding-top: 40px;
}

.titulo{
   color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: 1px;
   margin-bottom: 20px;
}

.contacto_info ul{
     position: relative;
}

.contacto_info ul li{
    list-style: none;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
    transition: all 300ms;
}

.contacto_info ul li:hover{
    transform: scale(1.2);
}

.contacto_info ul li .icono{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(0, 225, 255);
}

.contacto_info ul li span{
    color: rgb(0, 0, 0);
    font-weight: 300;

}

.contacto_info.edu li{
    margin-left: 15px;

}

.contacto_info.edu h5{
    color: #00f7ff;
    font-weight: 500;
}

.contacto_info.edu h4:nth-child(2){
    color: #000000;
    font-weight: 500;
}

.contacto_info.edu h4{
    color: #000000;
    font-weight: 300;
}

.contacto_info.lenguaje .porcent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #000000;
    display: block;
    margin-top: 5px;
}

.contacto_info.lenguaje .porcent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
 
}

.contenedor1 .contenedor1_3{
    position: relative;
    background: rgb(255, 255, 255);
    padding: 40px;
}

.contenedor1_3_1{
    margin-bottom: 50px;
}

.contenedor1_3_1:last-child{
    margin-bottom: 0;
}

.titulo2{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #000000;
}

.contenedor1_3_1 .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.contenedor1_3_1 .box .empresa{
    min-width: 150px;
    margin-bottom: 5px;
}

.contenedor1_3_1 .box .empresa h5{
    text-transform: uppercase;
    color: rgb(0, 255, 21);
    font-weight: 600;
}

.contenedor1_3_1 .text h4{
text-transform: uppercase;
color: rgba(6, 12, 75, 0.784);
font-size: 16px;
}

.habilidades .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    align-items: center;

}


.intereces ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.intereces ul li{
    list-style: none;
    color: #000000;
    font-weight: 500;
    margin: 10px 0;
}


@media (max-width: 1000px){
    .contenedor1{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }

    .intereces ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px){
    .contenedor1_3_1 .box{
        flex-direction: column;
    }
    .contenedor1_3_1 .box .empresa{
        margin-bottom: 5px;
    }
    .intereces ul{
        grid-template-columns: repeat(1,1fr);
    }

    .habilidades .box{
        grid-template-columns: repeat(1,1fr);
    }
}

.contacto_info  .texto2 { 
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px px;
    color: rgb(0, 0, 0);
    
}