body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nombre{
    color: #ffffff;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: blue;
}


header{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, #000000, rgb(0, 0, 0));
    padding: 10px;
    border: 0px solid rgb(255, 255, 255);

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

#nuestros-programas {
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("fondo.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nuestros-programas .programas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#nuestros-programas .container {
    padding: 150px 12px;
    display: grid;
}

#nuestros-programas .carta {
    background-size: cover;
    width: 17%;
    height: 70px;
    padding: 50px;
    margin: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: grid;
    
    }

    .programas .carta{
        position: relative;
        width: 100px;
        height: 200px;
        border-radius: 0%;
        overflow: hidden;
    }
    
    .programas .carta img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }





@media (max-width:750px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 10px;
        margin: 10px;
    }

    #nuestros-programas{
        height: 100%;
    } 

    .nombre{
        text-align: center;
    }
}